@import "tailwindcss";

/* Fonts */
@font-face {
	font-family: "Coolvetica Regular";
	src: url("/fonts/coolvetica/CoolveticaRg.otf") format("opentype");
	font-weight: 800;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #f77124 #ffe9db;
  scrollbar-width: thin;
}

@theme {
	--font-coolvetica: "Coolvetica Regular", sans-serif;

	/* Animations */
	@keyframes fadeFromTop {
		from {
			opacity: 0;
			transform: translateY(-10px);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	--animate-fade-from-top: fadeFromTop 0.3s ease-in-out;
}